.DS_Store
.dart_tool/

.packages
.pub/

build/
android/key.properties

.flutter-plugins
/.idea
android/.idea
.env.json
/codesigndoc_exports
Appfile
report.xml
/crowdin.yml


.flutter-plugins-dependencies
/ios/Flutter/.last_build_id
/.fvm/flutter_sdk
